<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@invoice) do |f| %>
      <% if @invoice.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

          <ul>
          <% @invoice.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :number %>
        <%= f.text_field :number, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :amount %>
        <%= f.text_field :amount, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :to_address %>
        <%= f.text_area :to_address, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :from_address %>
        <%= f.text_area :from_address, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :note %>
        <%= f.text_area :note, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>

