<p id="notice"><%= notice %></p>

<h4>Listing Invoices</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Number</th>
      <th>Amount</th>
      <th>To address</th>
      <th>From address</th>
      <th>Note</th>
      <th>User</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.number %></td>
        <td><%= invoice.amount %></td>
        <td><%= invoice.to_address %></td>
        <td><%= invoice.from_address %></td>
        <td><%= invoice.note %></td>
        <td><%= link_to 'Pay', new_payment_path(invoice_id: invoice.id) %></td>
        <td><%= link_to 'Payments', payments_path(invoice_id: invoice.id) %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path, class: 'btn btn-primary' %>
